@using MvcWeb.Common
@using MvcWeb.Enums
@model List<MvcWeb.Models.LearningCourseListModel>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <section>
                    <form id="courseListForm">
                        <div class="col-lg-10 col-lg-offset-0">
                            <div class="form-group">
                                <label class="col-lg-1 control-label">课程：</label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control" name="courseTitle" id="courseTitle" />
                                </div>
                                <button type="button" class="btn btn-primary" onclick="search()">查 询</button>
                            </div>
                            <input type="hidden" name="pageIndex" id="pageIndex" value="@ViewBag.pageIndex" />
                            <input type="hidden" name="pageSize" id="pageSize" value="15" />
                        </div>
                    </form>
                </section>
                <div class="col-lg-2 col-lg-offset-0">
                    <button type="button" class="btn btn-primary" onclick="create()">创 建</button>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model != null && Model.Count > 0)
{
    <input type="hidden" name="totalCount" id="totalCount" value="@Model[0].TotalCount" />
    <table class="table">
        <caption>管理课程列表</caption>
        <thead>
            <tr>
                <th>序号</th>
                <th>课程名</th>
                <th>难度</th>
                <th>适合等级</th>
                <th>最后更新人</th>
                <th>最后更新时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{
    for (int i = 0; i < Model.Count; i++)
    {
        int xh = (i + 1) + ((int)ViewBag.pageIndex - 1) * 15;
        <tr>
            <td>@xh</td>
            <td class="courseId" style="display:none">@Model[i].Id</td>
            <td>@Model[i].Subject</td>
            <td>@Model[i].Star</td>
            <td>@Model[i].ForLevel</td>
            <td>@Model[i].LastUpdateUserName</td>
            <td>@Model[i].LastUpdateTime.ToShortDateString()</td>
            <td>@EnumHelper.GetEnumDescription((ActionCategory)Model[i].Status)</td>
            <td>
                <a class="courseDetail" href="#">详情</a>
                @if (Model[i].LastUpdateUser == ViewBag.CurrentUserId.ToString())
                {
                    <a class="editCourse" href="#">编辑</a>
                    <a class="delCourse" href="#">删除</a>
                }
            </td>
        </tr>
    }
            }
        </tbody>
    </table>
    <div id="divPager"></div>
}
else
{
    <input type="hidden" name="totalCount" id="totalCount" value="0" />
    <span class="alert alert-danger">没有找到相关记录，请更改搜索条件重试！</span>
}
<script type="text/javascript" language="javascript">
    $(document)
        .ready(function() {
            $('.delCourse')
                .click(function () {
                    var id = $(this).parent().siblings('.courseId')[0].innerText;
                    if (id) {
                        if (confirm('确定要删除该课程吗？')) {
                            $.ajax({
                                type: "POST",
                                url: "/Course/DeleteCourse",
                                data: { id: parseInt(id) },
                                cache: false,
                                success: function (data) {
                                    search();
                                },
                                error: function (err) {
                                    return alert('删除失败');
                                }
                            });
                        }
                    }
                });

            $('.courseDetail')
                .click(function() {
                    var id = $(this).parent().siblings('.courseId')[0].innerText;
                    if (id) {
                        $.ajax({
                            type: "GET",
                            url: "/Course/CourseDetail",
                            data: { id: parseInt(id) },
                            cache: false,
                            success: function (data) {
                                $(".body-content").html(data);
                            },
                            error: function (err) {
                                return alert('获取详情失败');
                            }
                        });
                    }
                });

            $('.editCourse')
                .click(function() {
                    var id = $(this).parent().siblings('.courseId')[0].innerText;
                    if (id) {
                        create(id);
                    }
                });
        });


    function search() {
        $.ajax({
            type: "GET",
            url: "/Course/Index",
            cache: false,
            data: $("#courseListForm").serialize(),
            success: function (data) {
                $(".body-content").html(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function create(id) {
        id = id || 0;
        $.ajax({
            type: "GET",
            url: "/Course/CourseCreate",
            data: { id: parseInt(id) },
            cache: false,
            success: function (data) {
                $(".body-content").html(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    //分页
    var options = {
        bootstrapMajorVersion: 2, //版本
        currentPage: $("#pageIndex").val(), //当前页数
        totalPages: $("#totalCount").val() % $("#pageSize").val() == 0 ? $("#totalCount").val() / $("#pageSize").val() : ($("#totalCount").val() / $("#pageSize").val()) + 1, //总页数
        itemTexts: function (type, page, current) {
            switch (type) {
            case "first":
                return "首页";
            case "prev":
                return "上一页";
            case "next":
                return "下一页";
            case "last":
                return "末页";
            case "page":
                return page;
            }
        },
        onPageClicked: function (event, originalEvent, type, page) {
            $("#pageIndex").val(page);
            search();
        }
    }

    $('#divPager').bootstrapPaginator(options);
</script>
