@model Sleemon.Data.ExamDetailModel


<form class="form-horizontal" action='@Url.Action("ExamCreate", "Exam")' method="post" id="examForm">
    <div class=" notice_edit col-xs-12 col-sm-8">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">新增/编辑 试卷</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <fieldset>
                        <legend>基本信息</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">试卷名称</label>
                            <div class="col-sm-10">
                                @Html.HiddenFor(u => u.State, new {id = "examState"})
                                @Html.HiddenFor(u => u.Id)
                                @Html.TextBoxFor(u => u.Title, new {@class = "form-control", placeholder = "输入试卷名称...最多50个字", maxlength = "50"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(u => u.Description, new {@class = "form-control", placeholder = "最多250个字", maxlength = "250"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">总分</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(u => u.TotalScore, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">及格分</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(u => u.PassingScore, new {@class = "form-control"})
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions center">
                        <button type="button" class="btn btn-primary btn-sm addQuestion">添加试题</button>
                    </div>
                    @if (Model!=null && Model.Questions != null)
                    {
                        for (int i = 0; i < Model.Questions.Count; i++)
                        {
                            var question = Model.Questions[i];
                            <fieldset class="question">
                                <legend class="question_index">
                                    第@(i + 1)题
                                </legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">题目：</label>
                                    <div class="col-sm-10">
                                        <textarea name="Questions[@i].Question" class="form-control" placeholder="100字以内" rows="2" cols="20" data-val-required="请输入题目" data-val="true">@question.Question</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">单题分数：</label>
                                    <div class="col-sm-10">
                                        <input name="Questions[@i].Score" class="form-control" type="text" data-val-required="请输入单题得分" data-val="true" data-val-range="单题得分分必须为数字" data-val-number="The field Score must be a number." value="@question.Score" />
                                    </div>
                                </div>
                                @for (int j = 0; j < question.Choices.Count; j++)
                                {
                                    var choice = question.Choices[j];
                                    <div class="form-group choice">
                                        <label class="col-sm-2 control-label choice_index">选项 @(j + 1)：</label>
                                        <div class="col-sm-8">
                                            <textarea name="Questions[@i].Choices[@j].Description" class="form-control" rows="2" cols="20">@choice.Description</textarea>
                                        </div>
                                        <div class="col-sm-1">
                                            <input name="Questions[@i].Choices[@j].IsAnswer" class="form-control" type="checkbox" checked="@choice.IsAnswer" value="true" />
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-link delChoice">删除</button>
                                        </div>
                                    </div>
                                }
                                <button type="button" class="btn btn-primary btn-xs addChoice">添加选项</button>
                                <button type="button" class="btn btn-primary btn-xs delQuestion">删除本题</button>
                            </fieldset>
                            <br />
                        }
                    }
                    <div class="form-actions center" id="submitDiv">
                        <button type="submit" id="btnSave" class="btn btn-sm btn-success">
                            保存
                            <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                        </button>
                        <button type="submit" id="btnPublish" class="btn btn-sm btn-success">
                            发布
                            <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="tempChoice">
    <div class="form-group choice">
        <label class="col-sm-2 control-label choice_index">选项 1：</label>
        <div class="col-sm-8">
            <textarea name="Questions[99].Choices[99].Description" class="form-control" rows="2" cols="20"></textarea>
        </div>
        <div class="col-sm-1">
            <input name="Questions[99].Choices[99].IsAnswer" class="form-control" type="checkbox" value="true" />
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-link delChoice">删除</button>
        </div>
    </div>
</div>

<div id="tempQuestion">
    <fieldset class="question">
        <legend class="question_index">
            第1题
        </legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">题目：</label>
            <div class="col-sm-10">
                <textarea name="Questions[99].Question" class="form-control" placeholder="100字以内" rows="2" cols="20" data-val-required="请输入题目" data-val="true"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">单题分数：</label>
            <div class="col-sm-10">
                <input name="Questions[99].Score" class="form-control" type="text" data-val-required="请输入单题得分" data-val="true" data-val-range-min="0" data-val-range-max="1.79769313486232E+308" data-val-range="单题得分分必须为数字" data-val-number="The field Score must be a number." />
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-xs addChoice">添加选项</button>
        <button type="button" class="btn btn-primary btn-xs delQuestion">删除本题</button>
    </fieldset>
    <br />
</div>

<script type="text/javascript" language="javascript">
    $(document)
        .ready(function () {
            $('#tempChoice').hide();
            $('#tempQuestion').hide();

            $('#btnSave')
                .click(function() {
                    $('#examState').val(1);
                    $('#examForm').submit();
                });

            $('#btnPublish')
                .click(function () {
                    $('#examState').val(2);
                    $('#examForm').submit();
                });

            $('div.widget-main')
                .on('click',
                    '.delChoice',
                    function() {
                        $(this)
                            .parent()
                            .parent()
                            .siblings('.choice')
                            .each(function(i) {
                                $(this).children('.choice_index')[0].innerText = '选项 ' + (i + 1) + '：';
                                $(this)
                                    .children()
                                    .children('[name^=Questions]')
                                    .each(function() {
                                        var start = $(this)[0].name.indexOf('Choices[');
                                        var end = $(this)[0].name.lastIndexOf(']');
                                        $(this)[0].name = $(this)[0].name.substring(0, start) +
                                            'Choices[' +
                                            i +
                                            $(this)[0].name.substring(end);
                                    });
                            });

                        var choice = $(this).parent().parent()[0];
                        choice.parentNode.removeChild(choice);
                    });

            $('div.widget-main')
                .on('click',
                    '.addChoice',
                    function() {
                        var choiceTemp = $('#tempChoice');
                        $(this).before(choiceTemp[0].innerHTML);

                        var index = $(this).siblings('.question_index')[0].innerText;
                        var j = index.substring(index.indexOf('第') + 1, index.lastIndexOf('题'));

                        var i = $(this).siblings('.choice').length;
                        $(this).prev().children('.choice_index')[0].innerText = '选项 ' + i + '：';
                        $(this)
                            .prev()
                            .children()
                            .children('[name^=Questions]')
                            .each(function() {
                                var end = $(this)[0].name.lastIndexOf(']');
                                $(this)[0].name = 'Questions[' +
                                    (j - 1) +
                                    '].Choices[' +
                                    (i - 1) +
                                    $(this)[0].name.substring(end);
                            });
                    });

            $('div.widget-main')
                .on('click',
                    '.delQuestion',
                    function() {
                        $(this)
                            .parent()
                            .siblings('.question')
                            .each(function(i) {
                                $(this).children('.question_index')[0].innerText = '第' + (i + 1) + '题';
                                $(this)
                                    .children()
                                    .children()
                                    .children('[name^=Questions]')
                                    .each(function() {
                                        var end = $(this)[0].name.indexOf(']');
                                        $(this)[0].name = 'Questions[' +
                                            i +
                                            $(this)[0].name.substring(end);
                                    });
                            });

                        var question = $(this).parent()[0];
                        var br = $(this).parent().next()[0];
                        question.parentNode.removeChild(question);
                        br.parentNode.removeChild(br);
                    });

            $('.addQuestion')
                .click(function () {
                    var questionTemp = $('#tempQuestion');
                    $('#submitDiv').before(questionTemp[0].innerHTML);
                    
                    var i = $(this).parent().siblings('.question').length;
                    $('#submitDiv').prev().prev().children('.question_index')[0].innerText = '第' + i + '题';

                    $('#submitDiv')
                        .prev()
                        .prev()
                        .children()
                        .children()
                        .children('[name^=Questions]')
                        .each(function () {
                            var end = $(this)[0].name.indexOf(']');
                            $(this)[0].name = 'Questions[' +
                                (i - 1) +
                                $(this)[0].name.substring(end);
                        });
                });
        });
</script>